/* Base Styles */
body {
    display: block;
    justify-content: center;
    background-image: url(blurBg.jpg);
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    
}

.headerOne {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.hBut {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}

.hBut:hover {
    color: #555;
}

/* Responsive Layout */
@media (max-width: 768px) {
    .header {
        flex-direction: column; 
        align-items: flex-start;
    }

    .headerOne{
        flex-direction: column; 
        width: 100%; 
        margin-bottom: 10px; 
    }

    .hBut {
        width: 100%; 
        margin: 5px 0; 
        text-align: center; 
    }
}

@media (max-width: 480px) {
    .hBut {
        font-size: 12px; 
    }
}

.aboutUsBg, .missionBg, .visionBg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%; 
    margin: 40px auto; 
    justify-content: left;
    background-image: url(background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px; 
}

.aboutUs, .mission, .vision {
    justify-content: center;
    width: 100%; 
    max-width: 480px; 
    background-color: white;
    padding: 20px;
    border: 10px solid black; 
    text-align: justify;
}

.teamBg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.firstTeam {
    
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 50px; 
}

.secondTeam {
   
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 50px; 
}


.team {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    margin: 10px;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .aboutUsBg, .missionBg, .visionBg, .teamBg {
        flex-direction: column;
        padding: 10px;
    }

    .aboutUs, .mission, .vision {
        max-width: 90%;
        padding: 15px;
    }

    .team {
        width: 80px; 
        height: 80px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        flex-direction: column; 
        align-items: center;
    }

    .hBut {
        padding: 5px 10px;
    }

    .team {
        width: 60px;
        height: 60px;
    }

    h2, h3 {
        font-size: 0.9rem; 
    }

    p {
        font-size: 0.9rem; 
    }
}
